@import url('https://fonts.googleapis.com/css2?family=Poppins: wght@300;400;500;600;700;800;900&displau=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.4s;
}

.navbar a:hover, 
.navbar a.ativo {
    color: #ff12;
}


.inicio {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.inicio-conteudo {
    max-width: 600px;
}

.inicio-conteudo h1 {
    font-size: 56px;
    font-weight: 700;
}

.inicio-conteudo h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.inicio-conteudo p {
    font-size: 16px;
}

.inicio-conteudo .btn-inicio {
    width: 345px;
    height: 50px;
    background: yellowgreen;
}